<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">


<beans>

  <bean id="appServiceLocator" class="gov.nih.nci.ncicb.cadsr.servicelocator.spring.ApplicationServiceLocatorImpl">
  </bean>
  <bean id="treeCache" class="gov.nih.nci.ncicb.cadsr.umlmodelbrowser.tree.UMLBrowserTreeCache">
    <property name="appServiceLocator"><ref local="appServiceLocator"/></property>
  </bean>
  <bean id="treeService" class="gov.nih.nci.ncicb.cadsr.umlmodelbrowser.tree.service.impl.UMLBrowserTreeServiceImpl">
     <property name="serviceLocator"><ref local="appServiceLocator"/></property>
  </bean>
  <bean id="umlBrowserQueryService" class="gov.nih.nci.ncicb.cadsr.service.impl.UMLBrowserQueryServiceImpl">
     <property name="serviceLocator"><ref local="appServiceLocator"/></property>
  </bean>
  <bean id="structsAction" class="gov.nih.nci.ncicb.cadsr.umlmodelbrowser.struts.actions.BaseDispatchAction">
    <property name="appServiceLocator"><ref local="appServiceLocator"/></property>
  </bean>



</beans>
